<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Converse Shoe Store</title>
  </head>
  <body>
    <article class="product">
      <h2 class="title">Converse Chuck Taylor All Star Low Top</h2>
      <div class="container clear-fix">
        <img
          src="img/challenges.jpg"
          width="250"
          height="250"
          alt="Chuck Taylor All-star shoe"
          class="product-img"
        />
        <div class="product-info">
          <p class="price"><strong>$65.00</strong></p>
          <p class="shipping">Free Shipping</p>
          <p class="sale">Sale</p>
          <p class="product-description">
            Ready to dress up or down, these classic canvas Chucks are an
            everday wardrobe staple.
          </p>
          <p>
            <a
              class="more-info"
              href="https://www.converse.com/shop/"
              target="_blank"
              >More information &rarr;</a
            >
          </p>

          <div class="colors">
            <div class="color"></div>
            <div class="color color-blue"></div>
            <div class="color color-red"></div>
            <div class="color color-yellow"></div>
            <div class="color color-green"></div>
            <div class="color color-brown"></div>
          </div>
        </div>

        <div class="product-details">
          <h3 class="details-title">Product details</h3>
          <ul class="details-list">
            <li>
              <p>Lightweight, durable canvas sneaker</p>
            </li>
            <li>
              <p>Lightly padded footbed for added comfort</p>
            </li>
            <li>
              <p>Iconic Chuck Taylor ankle patch.</p>
            </li>
          </ul>
        </div>
      </div>
      <button class="cart">Add to cart</button>
    </article>
  </body>
</html>
